<div class="page-container">
    <form [formGroup] = "preguntasForm" novalidate (ngSubmit)="guardar(preguntasForm)">
        <div class="form-group">
            <label>Pregunta</label>
            <input type="text" formControlName="pregunta">
            <small *ngIf="!preguntasForm.controls['pregunta'].valid">Nombre es requerido</small>
        </div>

        <div class="form-group">
            <label>Tipo Pregunta</label>
            <select formControlName="tipo">
                <option value="0">SELECCIONAR</option>
                <option *ngFor="let i of respuestas" [value]="i.value">{{ i.item }}</option>
            </select>
            <small *ngIf="!preguntasForm.controls['tipo'].valid">Nombre es requerido</small>
        </div>

        <div *ngIf="preguntasForm.value.tipo > 0">
            <div formArrayName="opciones">
                <div *ngFor="let resp of preguntasForm.controls['opciones'].controls; let i=index">
                    <div>
                        <span>Resp. {{ i + 1}}</span>
                        <span (click)="removerHijo(i)">X</span>
                    </div>
                    <div [formGroupName]="i">
                        <label>Respuesta</label>
                        <input type="text" formControlName="valor">
                    </div>
                </div>
            </div>
            <button (click)="agregarHijo()">agregar direccion</button>
        </div>
        <button type="submit" [disabled]="preguntasForm.invalid">Ingresar</button>
    </form>
</div>
