<form [formGroup] = "askForm"  (ngSubmit)="guardar(askForm)" novalidate>
    <div fxLayout="row">
        <div fxFlex="50">
            <md-input-container>
                <input  mdInput 
                    placeholder="Título de la encuesta"
                    formControlName="titulo"
                    class="inputText">
            </md-input-container>
        </div>
        <div fxFlex="40"></div>
        <div fxFlex>
            <div class="example-tooltip-host" mdTooltip="Guardar Encuesta" mdTooltipPosition="above">
                <button md-button 
                    type="submit"
                    [disabled]="validaForm()"> 
                    <md-icon>add_circle</md-icon>
                </button>
            </div>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="50" class="text-error">
            <!-- Desplega los errores del titulo -->
            <div *ngIf="askForm.controls['titulo'].errors?.required && askForm.controls['titulo'].touched">
                <span>Es necesario conocer el título de la encuesta.</span>
            </div>
            <div *ngIf="askForm.controls['titulo'].errors?.minlength && askForm.controls['titulo'].touched">
                <span>Es necesario colocar mínimo {{ askForm.controls['titulo'].errors.minlength.requiredLength }} carácteres.</span>
            </div>
            <div *ngIf="askForm.controls['titulo'].errors?.pattern && askForm.controls['titulo'].touched">
                <span>Por favor verifique no tener espacios al inicio ó algún carácter especial.</span>
            </div>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex>
            <md-input-container>
                <input  mdInput 
                    placeholder="Descripción de la encuesta"
                    formControlName="descripcion"
                    class="inputText">
            </md-input-container>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex class="text-error">
            <!-- Desplega los errores de la descripción -->
            <div *ngIf="askForm.controls['descripcion'].errors?.required && askForm.controls['descripcion'].touched">
                <span>Es necesario conocer el contenido de la descripción.</span>
            </div>
            <div *ngIf="askForm.controls['descripcion'].errors?.minlength && askForm.controls['descripcion'].touched">
                <span>Es necesario colocar mínimo {{ askForm.controls['descripcion'].errors.minlength.requiredLength }} carácteres.</span>
            </div>
        </div>
    </div>
    <!-- Desplega la sección de crear  preguntas-->
    <div formArrayName="preguntas">
        <div *ngFor="let item of askForm.controls.preguntas.controls; let i=index">
            <div [formGroupName]="i" class="estiloPregunta">
                <div fxLayout="row">
                    <div fxFlex="60" fxLayoutAlign="center center">
                        <md-input-container>
                            <input  mdInput 
                                placeholder="Pregunta sin título"
                                formControlName="pregunta"
                                class="inputText">
                        </md-input-container>
                    </div>
                    <div fxFlex="30" fxLayoutAlign="center center">
                        <md-select 
                            placeholder="Tipo Respuesta" 
                            formControlName="tipo">
                            <md-option *ngFor="let respuesta of _fs.respuestas" [value]="respuesta.value">
                                {{ respuesta.item }}
                            </md-option>
                        </md-select>
                    </div>
                    <div fxFlex fxLayoutAlign="center center">
                        <div class="example-tooltip-host" mdTooltip="Añadir pregunta" mdTooltipPosition="above" (click)="accionesPreguntas(2, i)">
                            <md-icon>delete_forever</md-icon>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" class="text-error">
                    <!-- Desplega los errores de pregunta y tipo de respuesta -->
                    <div fxFlex="60"></div>
                    <div fxFlex="30"></div>
                </div>
                <div fxLayout="column" [ngSwitch]="askForm.value.preguntas[i].tipo">
                    <div fxFlex *ngSwitchCase="1">
                        <md-input-container>
                            <input mdInput placeholder="Pregunta realizada" disabled value="Texto de Respuesta Corta">
                        </md-input-container>
                    </div>
                    <div fxFlex *ngSwitchCase="2">
                        <md-input-container>
                            <input mdInput placeholder="Pregunta realizada" disabled value="Texto de Respuesta Larga">
                        </md-input-container>
                    </div>
                    <div fxFlex *ngSwitchCase="3">
                        <div formArrayName="opciones">
                            <div fxLayout="column">
                                <div fxFlex *ngFor="let preg of askForm.controls.preguntas.controls[i].controls.opciones.controls; let j=index">
                                    <div fxLayout="row">
                                        <div fxFlex="5" fxLayoutAlign="center center">
                                            <md-radio-button value="1" disabled></md-radio-button>
                                        </div>
                                        <div fxFlex="80" fxLayoutAlign="center center">
                                            <div [formGroupName]="j" class="espTotal">
                                                <md-input-container>
                                                    <input mdInput placeholder="Respuesta" formControlName="valor"> 
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div fxFlex fxLayoutAlign="center center" *ngIf="askForm.value.preguntas[i].opciones.length > 1">
                                            <button md-button (click)="accionesOpciones(item, 2, j)">
                                                <md-icon>clear</md-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div fxFlex>
                                    <div fxLayout="row">
                                        <div fxFlex="5"></div>
                                        <div fxFlex="80" fxLayoutAlign="start center">
                                            <div (click)="accionesOpciones(item, 1, null)">Añadir opción</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex *ngSwitchCase="4">
                        <div formArrayName="opciones">
                            <div fxLayout="column">
                                <div fxFlex *ngFor="let preg of askForm.controls.preguntas.controls[i].controls.opciones.controls; let j=index">
                                    <div fxLayout="row">
                                        <div fxFlex="5" fxLayoutAlign="center center">
                                            <md-checkbox disabled></md-checkbox>
                                        </div>
                                        <div fxFlex="80" fxLayoutAlign="center center">
                                            <div [formGroupName]="j" class="espTotal">
                                                <md-input-container>
                                                    <input mdInput placeholder="Respuesta" formControlName="valor"> 
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div fxFlex fxLayoutAlign="center center" *ngIf="askForm.value.preguntas[i].opciones.length > 1">
                                            <button md-button (click)="accionesOpciones(item, 2, j)">
                                                <md-icon>clear</md-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div fxFlex>
                                    <div fxLayout="row">
                                        <div fxFlex="5"></div>
                                        <div fxFlex="80" fxLayoutAlign="start center">
                                            <div (click)="accionesOpciones(item, 1, null)">Añadir opción</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex *ngSwitchCase="5">
                        <div formArrayName="opciones">
                            <div fxLayout="column">
                                <div fxFlex *ngFor="let preg of askForm.controls.preguntas.controls[i].controls.opciones.controls; let j=index">
                                    <div fxLayout="row">
                                        <div fxFlex="5" fxLayoutAlign="center center">
                                            <span class="desp">Opc. {{ j + 1}}</span>
                                        </div>
                                        <div fxFlex="80" fxLayoutAlign="center center">
                                            <div [formGroupName]="j" class="espTotal">
                                                <md-input-container>
                                                    <input mdInput placeholder="Respuesta" formControlName="valor"> 
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div fxFlex fxLayoutAlign="center center" *ngIf="askForm.value.preguntas[i].opciones.length > 1">
                                            <button md-button (click)="accionesOpciones(item, 2, j)">
                                                <md-icon>clear</md-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div fxFlex>
                                    <div fxLayout="row">
                                        <div fxFlex="5"></div>
                                        <div fxFlex="80" fxLayoutAlign="start center">
                                            <div (click)="accionesOpciones(item, 1, null)">Añadir opción</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="btnAgregarPregunta">
    <div class="example-tooltip-host" mdTooltip="Añadir pregunta" mdTooltipPosition="before" (click)="accionesPreguntas(1, null)">
        <button md-fab (click)="accionesPreguntas(1,null)">
            <md-icon>add</md-icon>
        </button>
    </div>
</div>