<form [formGroup] = "askForm"  (ngSubmit)="guardar(askForm)" novalidate>
    <div fxLayout="row">
        <div fxFlex="50">
            <md-input-container>
                <input  mdInput 
                    placeholder="Título de la encuesta"
                    formControlName="titulo">
            </md-input-container>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="50" class="text-error">
            <!-- Desplega los errores del titulo -->
            <div *ngIf="askForm.controls['titulo'].errors?.required && askForm.controls['titulo'].touched">
                <span>Es necesario conocer el título de la encuesta.</span>
            </div>
            <div *ngIf="askForm.controls['titulo'].errors?.minlength && askForm.controls['titulo'].touched">
                <span>Es necesario colocar mínimo {{ askForm.controls['titulo'].errors.minlength.requiredLength }} carácteres.</span>
            </div>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex>
            <md-input-container>
                <input  mdInput 
                    placeholder="Descripción de la encuesta"
                    formControlName="descripcion">
            </md-input-container>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex class="text-error">
            <!-- Desplega los errores de la descripción -->
            <div *ngIf="askForm.controls['descripcion'].errors?.required && askForm.controls['descripcion'].touched">
                <span>Es necesario conocer el contenido de la descripción.</span>
            </div>
            <div *ngIf="askForm.controls['descripcion'].errors?.minlength && askForm.controls['descripcion'].touched">
                <span>Es necesario colocar mínimo {{ askForm.controls['descripcion'].errors.minlength.requiredLength }} carácteres.</span>
            </div>
        </div>
    </div>
    <!-- Desplega la sección de crear  preguntas-->
    <div formArrayName="preguntas">
        <div *ngFor="let item of askForm.controls.preguntas.controls; let i=index">
            <div [formGroupName]="i">
                <div fxLayout="row">
                    <div fxFlex="60" fxLayoutAlign="center center">
                        <md-input-container>
                            <input  mdInput 
                                placeholder="Pregunta sin título"
                                formControlName="pregunta">
                        </md-input-container>
                    </div>
                    <div fxFlex="30" fxLayoutAlign="center center">
                        <md-select 
                            placeholder="Tipo Respuesta" 
                            formControlName="tipo">
                            <md-option *ngFor="let respuesta of _fs.respuestas" [value]="respuesta.value">
                                {{ respuesta.item }}
                            </md-option>
                        </md-select>
                    </div>
                    <div fxFlex fxLayoutAlign="center center">
                        <div class="example-tooltip-host" mdTooltip="Añadir pregunta" mdTooltipPosition="above">
                            <button md-button 
                                type="submit"
                                [disabled]="validaForm()"> 
                                <md-icon>add_circle</md-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" class="text-error">
                    <!-- Desplega los errores de pregunta y tipo de respuesta -->
                    <div fxFlex="60"></div>
                    <div fxFlex="30"></div>
                </div>
                <div fxLayout="column" [ngSwitch]="askForm.value.preguntas[i].tipo">
                    <div fxFlex *ngSwitchCase="1">
                        <md-input-container>
                            <input mdInput placeholder="Pregunta realizada" disabled value="Texto de Respuesta Corta">
                        </md-input-container>
                    </div>
                    <div fxFlex *ngSwitchCase="2">
                        <md-input-container>
                            <input mdInput placeholder="Pregunta realizada" disabled value="Texto de Respuesta Larga">
                        </md-input-container>
                    </div>
                    <div fxFlex *ngSwitchCase="3">
                        <div formArrayName="opciones">
                            <div fxLayout="column">
                                <div fxFlex *ngFor="let preg of askForm.controls.preguntas.controls[i].controls.opciones.controls; let j=index">
                                    <div fxLayout="row">
                                        <div fxFlex="5" fxLayoutAlign="center center">
                                            <md-radio-button value="1" disabled></md-radio-button>
                                        </div>
                                        <div fxFlex="80" fxLayoutAlign="center center">
                                            <div [formGroupName]="j" class="espTotal">
                                                <md-input-container>
                                                    <input mdInput placeholder="Respuesta" formControlName="valor"> 
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div fxFlex fxLayoutAlign="center center">
                                            <button md-button (click)="removerValor(j)">
                                                <md-icon>clear</md-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div fxFlex>
                                    <!--<div *ngIf="askForm.controls['titulo'].errors?.minlength && askForm.controls['titulo'].touched">
                                        <span>Es necesario colocar mínimo {{ askForm.controls['titulo'].errors.minlength.requiredLength }} carácteres.</span>
                                    </div> -->
                                </div>
                                <div fxFlex>
                                    <div fxLayout="row">
                                        <div fxFlex="5"></div>
                                        <div fxFlex="80" fxLayoutAlign="start center">
                                            <div (click)="agregarValor(i)">Añadir opción</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--



                                        
                                        
                                            
                                                
                                            </div>
                                        </div>
                                        
                                            <div class="example-tooltip-host" mdTooltip="Remover" mdTooltipPosition="above">
                                                
                                            </div>
                                        </div>
                                    </div>


         Termina datos básicos formulario
         Inicia control de validaciones
    <div fxLayout="row">
        <div fxFlex="60">
            <div *ngIf="askForm.controls['pregunta'].errors?.required && askForm.controls['pregunta'].touched">
                <span class="detError">Es necesario conocer el contenido de la pregunta.</span>
            </div>
            <div *ngIf="askForm.controls['pregunta'].errors?.minlength && askForm.controls['pregunta'].touched">
                <span class="detError">Debe contener al menos cinco carácteres.</span>
            </div>
        </div>
        <div fxFlex>
            <div *ngIf="askForm.controls['tipo'].errors?.required && askForm.controls['tipo'].touched">
                <span class="detError">Indica el tipo de respuesta a la pregunta.</span>
            </div>
        </div>
    </div>
            Termina control de validaciones
            Inicia desplegado de selección
    <div fxLayout="column" [ngSwitch]="askForm.value.tipo">
        
        <div fxFlex *ngSwitchCase="3">
            <div formArrayName="opciones">
                <div fxLayout="column">
                    <div fxFlex *ngFor="let opc of askForm.controls['opciones'].controls; let i=index">
                        <div fxLayout="row">
                        </div>
                    </div>
                    <div fxFlex>
                        
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex *ngSwitchCase="4">
            <div formArrayName="opciones">
                <div fxLayout="column">
                    <div fxFlex *ngFor="let opc of askForm.controls['opciones'].controls; let i=index">
                        <div fxLayout="row">
                            <div fxFlex fxLayoutAlign="center center">
                                <md-checkbox  disabled></md-checkbox>
                            </div>
                            <div fxFlex="80" fxLayoutAlign="center center">
                                <div [formGroupName]="i" class="espTotal">
                                    <md-input-container>
                                        <input mdInput placeholder="Respuesta" formControlName="valor"> 
                                    </md-input-container>
                                </div>
                            </div>
                            <div fxFlex fxLayoutAlign="center center">
                                <div class="example-tooltip-host" mdTooltip="Remover" mdTooltipPosition="above" *ngIf="askForm.value.opciones.length > 1">
                                    <button md-button (click)="removerValor(i)">
                                        <md-icon>clear</md-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex>
                        <div fxLayout="row">
                            <div fxFlex></div>
                            <div fxFlex="80" fxLayoutAlign="start center">
                                <div (click)="agregarValor()">Añadir opción</div>
                            </div>
                            <div fxFlex></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex *ngSwitchCase="5">
            <div formArrayName="opciones">
                <div fxLayout="column">
                    <div fxFlex *ngFor="let opc of askForm.controls['opciones'].controls; let i=index">
                        <div fxLayout="row">
                            <div fxFlex fxLayoutAlign="center center">
                                <span class="desp">Opc. {{i + 1}}</span>
                            </div>
                            <div fxFlex="80" fxLayoutAlign="center center">
                                <div [formGroupName]="i" class="espTotal">
                                    <md-input-container>
                                        <input mdInput placeholder="Respuesta" formControlName="valor"> 
                                    </md-input-container>
                                </div>
                            </div>
                            <div fxFlex fxLayoutAlign="center center">
                                <div class="example-tooltip-host" mdTooltip="Remover" mdTooltipPosition="above" *ngIf="askForm.value.opciones.length > 1">
                                    <button md-button (click)="removerValor(i)">
                                        <md-icon>clear</md-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex>
                        <div fxLayout="row">
                            <div fxFlex></div>
                            <div fxFlex="80" fxLayoutAlign="start center">
                                <div (click)="agregarValor()">Añadir opción</div>
                            </div>
                            <div fxFlex></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            Termina desplegado de selección -->
</form>
