.espTotal {
    width: 100%
}

.text-error {
    color: #F44336;
    font-size: 12px;
}

.desp {
    color: #808080;
    font-size: 11px;
}

.enLinea {
    display: inline-block
}

.inputText {
    font-size: 13px;
    color : #303030;
}

.estiloPregunta {
    margin-top: 15px;
    padding: 10px;
    border-left: 4px solid #F44336;
    -moz-box-shadow:    5px 5px 10px #aaaaaa;
    -webkit-box-shadow: 5px 5px 10px #aaaaaa;
    box-shadow:         5px 5px 10px #aaaaaa;
}

.btnAgregarPregunta{
    margin: 15px;
    text-align: right;
}

.btnAccion {
    padding: 5px;
}


.btnAccion :hover {
    border: 0px solid #000000;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    background-color: #FE9800;
    color: white;
}

.cursorLink {
    cursor : pointer;
}
