$primario : #FE9800;
$vertical : 40px;
$colorTexto : #606060;

@import "app.theme";
//----------------------------------------------------------------------------------------------------------------------
// Custom style sheet
//----------------------------------------------------------------------------------------------------------------------
@mixin custom-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // Custom your theme here with material palette.

  //body {
  //  background-color: mat-color($background, background);
  //  color: mat-color($primary);
  //}
}

//----------------------------------------------------------------------------------------------------------------------
// Mixin light theme
//----------------------------------------------------------------------------------------------------------------------
body.light {
  $theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
  @include custom-theme($theme);
}

//----------------------------------------------------------------------------------------------------------------------
// Mixin dark theme
//----------------------------------------------------------------------------------------------------------------------
body.dark {
  $theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
  @include custom-theme($theme);
}

.espTotal {
    width: 100%
}

.text-error {
    color: #F44336;
    font-size: 12px;
}

.desp {
    color: #808080;
    font-size: 11px;
}

.enLinea {
    display: inline-block
}

.inputText {
    font-size: 13px;
    color : #303030;
}

.estiloPregunta {
    margin-top: 15px;
    padding: 10px;
    border-left: 4px solid #F44336;
    -moz-box-shadow:    5px 5px 10px #aaaaaa;
    -webkit-box-shadow: 5px 5px 10px #aaaaaa;
    box-shadow:         5px 5px 10px #aaaaaa;
}

.btnAccion {
    padding: 5px;
}


.btnAccion :hover {
    border: 0px solid #000000;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    background-color : $primario;
    color: white;
}

.cursorLink {
    cursor : pointer;
}

.btnCenter {
    width: 100%;
    height: $vertical;
}

.btnAdd {
    color: $primario;
    font-size: 13px;
    line-height: $vertical;
    text-align: center
}

.btnCenter :hover {
    cursor: pointer;
}

.direccionbtn {
    float: right;
}

.estiloTxt {
    font-size: 12px;
    color: $colorTexto;
}

form {
    font-size: 14px;
    color: $colorTexto;
    text-align: justify;
}

h3 {
    color: $primario;
}

.estiloTextoPregunta{
    color: $colorTexto;
    font-size: 14px;
    text-align: justify;
    font-weight: bold
}

.estiloTextOpciones {
    font-size: 15px;
    font-weight: lighter;
    text-align: justify;
}

.tituloEncuesta {
    font-size: 20px;
    display: inline;
}

.listas {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.listas ol {
    margin: 0 0 0 2em; 
}

.listas li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

.listas li:hover{
    background: #eee;
}

.listas li:hover:before{
    transform: rotate(360deg);  
}

.listas li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: $primario;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .2em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.enlace:hover {
    cursor: pointer;
    font-weight: bold;
}