<div class="sign-container">
  <div class="sign-background"></div>
    <md-card class="sign-card">
      <md-card-title style="align: middle;"><img style="height: 64px;" src="assets/img/summit.png"></md-card-title>
      <md-card-subtitle>Inicia Sesión para continuar.</md-card-subtitle>
      <br>
      <form [formGroup]="sesionForm" (ngSubmit)="iniciarSesion()" novalidate>
      <md-card-content>
        <md-input-container>
          <input mdInput type="email" placeholder="Correo electrónico" formControlName="usuario">
        </md-input-container>
        <md-input-container>
          <input mdInput type="password" placeholder="Contraseña" formControlName="clave_acceso">
        </md-input-container>
        <br />
        <p>{{error}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button color="primary" [disabled]="validarForm()">INGRESAR</button>
      </md-card-actions>
      </form>
    </md-card>
  <br>
  <p>No puedes ingresar? <a>Recupera tus credenciales</a></p>
</div>
