<h1 md-dialog-title>Formulario</h1>
<div md-dialog-content>
    <div *ngIf="preguntas.length > 0">
        <section class="bs">
            <table class="table table-striped table-hover table-card">
                <thead>
                    <tr>
                        <th style="width:35%;">Pregunta</th>
                        <th style="width:20%;">Respuesta</th>
                        <th style="width:27%;">Opciones</th>
                        <th style="width:5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of preguntas; let i = index">
                        <td><span>{{ item.pregunta }}</span></td>
                        <td><span>{{ getValor(item.tipo) }}</span></td>
                        <td>
                        </td>
                        <td>
                            <div class="example-tooltip-host" mdTooltip="Remover pregunta" mdTooltipPosition="above">
                                <a md-icon-button (click)="remPregunta(i)">
                                    <md-icon>clear</md-icon>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
        </section>
    </div>
    <form [formGroup]="forma"  (ngSubmit)="guardar()" novalidate>
        <div fxLayout="row">
            <div fxFlex="60">
                <md-input-container>
                    <input  mdInput 
                        placeholder="Pregunta sin título"
                        formControlName="pregunta">
                </md-input-container>
            </div>
            <div fxFlex fxLayoutAlign="center center"></div>
            <div fxFlex="30" fxLayoutAlign="center center">
                <md-select placeholder="Tipo Respuesta" 
                    formControlName="tipo">
                    <md-option *ngFor="let respuesta of respuestas" [value]="respuesta.value">
                        {{ respuesta.item }}
                     </md-option>
                </md-select>
            </div>
            <div fxFlex fxLayoutAlign="center center">
                <div class="example-tooltip-host" mdTooltip="Añadir pregunta" mdTooltipPosition="above">
                    <button md-button 
                        type="submit"
                        [disabled]="validaForm()">
                            <md-icon>add_circle</md-icon>
                    </button>
                </div>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="60">
                <div *ngIf="forma.controls['pregunta'].errors?.required && forma.controls['pregunta'].touched">
                    <span>Es necesario conocer el contenido de la pregunta.</span>
                </div>
            </div>
            <div fxFlex>
                <div *ngIf="forma.controls['tipo'].errors?.required && forma.controls['tipo'].touched">
                    <span>Indica el tipo de respuesta a la pregunta.</span>
                </div>
            </div>
        </div>
        <div fxLayout="column" [ngSwitch]="forma.value.tipo">
            <div fxFlex *ngSwitchCase="1">
                <md-input-container>
                    <input mdInput placeholder="Pregunta realizada" disabled value="Texto de Respuesta Corta">
                </md-input-container>
            </div>
            <div fxFlex *ngSwitchCase="2">
                <md-input-container>
                    <input mdInput placeholder="Pregunta realizada" disabled value="Texto de Respuesta Larga">
                </md-input-container>
            </div>
            <div fxFlex *ngSwitchCase="3">
                <div fxLayout="column">
                    <div fxFlex> 
                        <div fxLayout="row">
                            <div fxFlex fxLayoutAlign="center center">
                                <md-radio-button value="1" disabled></md-radio-button>
                            </div>
                            <div fxFlex="70" fxLayoutAlign="center center">
                                <md-input-container>
                                    <input mdInput placeholder="Respuesta" name="radio-respuesta" required> 
                                </md-input-container>
                            </div>
                            <div fxFlex fxLayoutAlign="center center">
                                <div (click)="agregarRespuesta()">
                                    <md-icon>done</md-icon>
                                </div>
                            </div>
                            <div fxFlex fxLayoutAlign="center center">
                                <a md-icon-button>
                                    <md-icon>delete</md-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex *ngSwitchCase="4">
                <div fxLayout="column">
                    <div fxFlex>
                        <div fxLayout="row">
                            <div fxFlex fxLayoutAlign="center center">
                                <md-checkbox value="1" disabled></md-checkbox>
                            </div>
                            <div fxFlex="70" fxLayoutAlign="center center">
                                <md-input-container>
                                    <input mdInput placeholder="Pregunta realizada">
                                </md-input-container>
                            </div>
                            <div fxFlex fxLayoutAlign="center center"></div>
                            <div fxFlex fxLayoutAlign="center center">
                                <md-icon>clear</md-icon>
                            </div>
                        </div>
                    </div>
                    <div fxFlex>
                        <div fxLayout="row">
                            <div fxFlex fxLayoutAlign="center center">
                                <md-checkbox value="1" disabled></md-checkbox>
                            </div>
                            <div fxFlex="70" fxLayoutAlign="start center">
                                <button md-button>Añadir respuesta</button>
                            </div>
                            <div fxFlex></div>
                            <div fxFlex > </div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex *ngSwitchCase="5">
                <div fxLayout="column">
                    <div fxFlex>
                        <div fxLayout="row">
                            <div fxFlex fxLayoutAlign="center center"><span>Desp.</span></div>
                            <div fxFlex="80" fxLayoutAlign="center center">
                                <md-input-container>
                                    <input mdInput placeholder="Desplegar opción">
                                </md-input-container>
                            </div>
                            <div fxFlex fxLayoutAlign="center center">
                                <md-icon>clear</md-icon>
                            </div>
                        </div>
                    </div>
                    <div fxFlex>
                        <div fxLayout="row">
                            <div fxFlex fxLayoutAlign="center center"><span>Desp.</span></div>
                            <div fxFlex="80">
                                <button md-button>Añadir respuesta</button>
                            </div>
                            <div fxFlex></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex></div>
            <div fxFlex="15">
                <div class="example-tooltip-host" mdTooltip="Eliminar pregunta" mdTooltipPosition="above">
                    <button md-button type="reset" color="danger">Eliminar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div md-dialog-actions>
  <button md-button (click)="dialogRef.close('Option 1')">Guardar</button>
  <button md-button (click)="dialogRef.close('Option 2')">Cancelar</button>
</div>
