<div class="page-content">
        <md-tab-group selectedIndex="{{selectIndex}}">
            <md-tab label="Forma tu encuesta">
                <md-card class="page-card">
                    <app-generar-form></app-generar-form>
                </md-card>
            </md-tab>
            <md-tab label="Visualiza tus encuestas">
                 <md-card class="page-card">
                     <md-card-title>Listado de Evaluaciónes</md-card-title>
                    <md-card-subtitle>Edita tus evaluaciones. | Visualiza tus cuestionarios. | Elimina en un sólo clic.</md-card-subtitle>
                    <md-card-content>
                        <app-lista-form></app-lista-form>
                    </md-card-content>
                </md-card>
            </md-tab>
            <md-tab label="Reporte encuestas">
                <md-card class="page-card">
                     <md-card-title>Concentrado de clientes y encuestas</md-card-title>
                    <md-card-subtitle>
                        <div class="enlace" (click)="crearCSV()">
                            <span>Exportar encuestas </span>
                            <md-icon>file_download</md-icon>
                        </div>
                    </md-card-subtitle>
                    <md-card-content>
                        <app-reportes></app-reportes>
                    </md-card-content>
                </md-card>
            </md-tab>
        </md-tab-group>
</div>