<div class="page-content">
        <md-tab-group>
            <md-tab label="Formularios">
                 <md-card fxFlex class="page-card">
                     <md-card-title>Aún no hay formularios</md-card-title>
                    <md-card-subtitle>Haz clic en el signo + para crear un formulario.</md-card-subtitle>
                    <md-card-content>
                        <button md-fab (click)="creaFormulario()" color="primary"><md-icon>add</md-icon></button>
                    </md-card-content>
                </md-card>
            </md-tab>
            <md-tab label="Reporte Encuestas">
                <h1>Some more tab content</h1>
                <p>...</p>
            </md-tab>
        </md-tab-group>
</div>