.pintaColor1{
    background-color: green
}

.pintaColor2{
    background-color: blue
}

.bordes {
    border : 1px dotted #808080
}

.distElements{
    margin-right: 20px
}

.espIcons{
    margin: 5px;
    display: inline-block
}