<h1 md-dialog-title>Vista Previa</h1>
<div md-dialog-content>
    <div fxLayout="column">
        <div fxFlex>
            <h3>{{ primitiva.titulo }}</h3>
            <p>{{ primitiva.descripcion }}</p>
        </div>
        <div fxFlex>
            <div fxLayout="column">
                <div fxFlex>hola?</div>
                <div fxFlex>ay ay ay</div>
            </div>
        </div>
    </div>
</div>
<div md-dialog-actions>
    <button md-button (click)="cerrarDialogo()">Cerrar</button>
</div>