<div fxLayout="column">
    <div fxFlex>
        <md-input-container>
            <input type="text" mdInput [(ngModel)]="filtrado" placeholder="Filtrar por nombre">
        </md-input-container>
    </div>
</div>
<section class="bs">
    <table class="table table-striped table-hover table-card">
        <thead>
            <tr>
                <th style="width:40%;">NOMBRE</th>
                <th style="width:27%;">POSICIÓN</th>
                <th style="width:20%;">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td class="user-avatar cell-detail cell-avatar">
                <img src="assets/img/avatar.jpg" alt="Avatar">
                <span>Benji Harper</span>
                <span class="cell-detail-description">Usuario</span>
              </td>
              <td>
                <span>Supervisor</span>
              </td>
              <td>
                <div class="enLinea example-tooltip-host" mdTooltip="Remover usuario"
                  mdTooltipPosition="above">
                  <a md-icon-button>
                      <md-icon>delete</md-icon>
                  </a>
                </div>
                <div class="enLinea example-tooltip-host" mdTooltip="Vista previa"
                  mdTooltipPosition="above">
                  <a md-icon-button>
                      <md-icon>remove_red_eye</md-icon>
                  </a>
                </div>
              </td>
            </tr>
        </tbody>
    </table>
</section>
