<h1 md-dialog-title>Formulario</h1>
<div md-dialog-content>
    <form [formGroup]="forma"  (ngSubmit)="update()" novalidate>
        <div fxLayout="row">
            <div fxFlex="50">
                <md-input-container>
                    <input  mdInput 
                        placeholder="Título de la encuesta"
                        formControlName="titulo"
                        class="inputText"
                        [value]="initVal.titulo">
                </md-input-container>
            </div>
        </div>
    </form>
</div>
<div md-dialog-actions>
    <button md-button (click)="almacenar()">Guardar</button>
    <button md-button (click)="cerrarDialogo()">Cerrar</button>
</div>