<section class="bs">
    <table class="table table-striped table-hover table-card">
        <thead>
            <tr>
                <th style="width:27%;">TÍTULO EVALUACIÓN</th>
                <th style="width:35%;">PREGUNTAS</th>
                <th style="width:25%;">ENCUESTADOS</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let encuesta of is.encuestas | async">
            <td>{{encuesta.titulo}}</td>
            <td>
              <ol class="listas">
                  <li *ngFor="let preg of encuesta.preguntas | keys">
                    {{preg.value.pregunta}}
                  </li>
              </ol>
            </td>
            <td>
              <ol class="listas">
                <li *ngFor="let encuestado of is.regresaEncuestados(encuesta.$key)">
                  {{encuestado.nombre}}
                </li>
              </ol>
            </td>
          </tr>
        </tbody>
    </table>
</section>
